# dependencies to support sphinx and markdown
sphinx-rtd-theme
sphinx
recommonmark

# dependencies of swagger2rst
cached-property>=1.3.0
Jinja2>=2.8
jsonschema>=2.5.1
PyYAML>=3.11
strict_rfc3339

# gcdt
gcdt-kumo
gcdt-tenkai
gcdt-ramuda
gcdt-yugen
